// mixins

#hover-time-mixin() {
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}

#frame-tools-mixin() {
  position: absolute;
  display: none;
  width: 30px;
  height: 30px;
  background: lighten(@bg-color, 15%);
  border: none;
  color: @font-color-light;
  font-size: 20px;
}

#hover-tool-mixin() {
  background: @color-2;
  cursor: pointer;
}

// colors

@bg-color: #686b70;
@color-1: #acc7cd;
@color-2: #d6b87c;
@color-3: #e3decb;
@font-color-dark: #3f4249;
@font-color-light: #e1e6e2;

// fonts

@primary-font: 'Nunito', Helvetica, sans-serif;

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
}